.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  letter-spacing: 0px;
  transition: color 1s, background-color 0.5s, padding 1s, letter-spacing 1s;
}

button:hover {
  padding: 10px 50px 10px 50px;
  color: white;
  background-color: black;
  letter-spacing: 2px;
  transition: background-color 0.5s, padding 1s, letter-spacing 1s, color 1s;
}

.builtby {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  margin-top: 3px;
  transition: margin-top 0.5s;
  width: 16px;
}

.icon:hover {
  margin-top: -5px;
  transition: margin-top 0.5s;
}

@media only screen and (max-width: 530px) {
  .App {
    display: block;
    overflow: hidden;
  }
}
